

.App{

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  background-color: beige;

}

button{
  color: white;
  font-size: medium;
}

h2  {
  color:greenyellow;
  text-shadow: 2px 2px 4px rgb(12, 10, 27);

}

ul  {
  list-style: none;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.link {
  color: rgb(15, 15, 223);
  text-decoration: none;
  font-size: large;
  margin-bottom: 30px;

}

.link:hover{
  color: yellowgreen;
}
.danger {
  background-color: #f44336;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;

} 
.danger:hover {
  background: #da190b;
}